<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaheen.developer.pastebinvpn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AtomDemoApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".LoginActivity"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name=".LocationActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SplitTunnelingActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ProtocolActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".AboutActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>